@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">

            <div class="item"><img src="~/Content/User/assets/img/slide1/slide1.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="~/Content/User/assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="~/Content/User/assets/img/slide1/slider-image-4.jpg" alt="GTA V"></div>

        </div>
    </div>
    <div class="container slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">

                <div id="test"></div>

                <div class="search-form wow pulse" data-wow-delay="0.8s">

                    <form action="" class=" form-inline">
                        <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type here...">
                        </div>
                        <div class="form-group">
                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                <option value="">Choose Location</option>
                                <option value="1">Faridkot</option>
                                <option value="5">Firozpur</option>
                                <option value="10">Fatehgarh Sahib</option>
                                <option value="15">Kapurthala</option>
                                <option value="20">Gurdaspur</option>
                                <option value="25">Hoshiarpur</option>
                                <option value="30">Jalandhar</option>
                                <option value="35">Ludhiana</option>
                                <option value="40"> Mansa</option>
                                <option value="45">Moga</option>
                                <option value="50">muktsar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="basic" class="selectpicker show-tick form-control">
                                <option> -Category- </option>
                                <option value="furniture">Furniture</option>
                                <option value="appliances">Appliances</option>
                                <option value="accomodation">Electronics</option>
                                <option value="automobiles">Automobiles</option>
                                <option value="computers">Computers</option>
                            </select>
                        </div>
                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

                        <div style="display: none;" class="search-toggle">

                            <div class="search-row">

                                <div class="form-group mar-r-20">
                                    <label for="price-range">Price range ($):</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[0,450]" id="price-range"><br />
                                    <b class="pull-left color">2000$</b>
                                    <b class="pull-right color">100000$</b>
                                </div>
                                <!-- End of  -->

                                <div class="form-group mar-l-20">
                                    <label for="property-geo">Property geo (m2) :</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[50,450]" id="property-geo"><br />
                                    <b class="pull-left color">40m</b>
                                    <b class="pull-right color">12000m</b>
                                </div>
                                <!-- End of  -->
                            </div>

                            <div class="search-row">

                                <div class="form-group mar-r-20">
                                    <label for="from_date">From :</label>
                                    <div class=" InputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="color: #FDC600"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input type="date" required>
                                        </div>
                                    </div>

                                </div>
                                <!-- End of  -->

                                <div class="form-group mar-l-20">
                                    <label for="to_date">To :</label>
                                    <div class=" InputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="color: #FDC600"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input type="date" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End of  -->
                            <br>


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- property area -->
<div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
    <div class="container">
        <div class="row">
            <div class="col-md-12  padding-top-40 properties-page">
                <div class="col-md-12 ">
                    <div class="col-xs-10 page-subheader sorting pl0">

                        <ul class="sort-by-list">
                            <li class="active">
                                <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                    Property Date <i class="fa fa-sort-amount-asc"></i>
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                    Property Price <i class="fa fa-sort-numeric-desc"></i>
                                </a>
                            </li>
                        </ul><!--/ .sort-by-list-->

                        <div class="items-per-page">
                            <label for="items_per_page"><b>Property per page :</b></label>
                            <div class="sel">
                                <select id="items_per_page" name="per_page">
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="9">9</option>
                                    <option selected="selected" value="12">12</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    <option value="60">60</option>
                                </select>
                            </div><!--/ .sel-->
                        </div><!--/ .items-per-page-->
                    </div>

                    <div class="col-xs-2 layout-switcher">
                        <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                        <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                    </div><!--/ .layout-switcher-->
                </div>

                <div class="col-md-12 ">
                    <div id="list-type" class="proerty-th">
                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/i1.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice sofa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/i2.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/i3.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/i4.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/bg2.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/bg3.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/bg4.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/property-2.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/property-1.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/property-3.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/property-2.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="@Url.Action("Description", "Home")"><img src="~/Content/User/assets/img/demo/property-1.jpg"></a>
                                </div>

                                <div class="item-entry overflow">
                                    <h5><a href="@Url.Action("Description", "Home")"> Super nice villa </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b> Area :</b> 120m </span>
                                    <span class="proerty-price pull-right"> $ 300,000</span>
                                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    <div class="property-icon">
                                        <img src="~/Content/User/assets/img/icon/bed.png">(5)|
                                        <img src="~/Content/User/assets/img/icon/shawer.png">(2)|
                                        <img src="~/Content/User/assets/img/icon/cars.png">(1)
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $.get('/Home/CallMe', function (data) {
        data = JSON.parse(data);
        var h = '';
        for (i = 0; i < data.length; i++) {
            //alert(data[i].Code + ' --> ' + data[i].Name);
            h+='<div>'+data[i].Code+'</div>'
        }

        $("#test").html(h);
    });
</script>


