@model RentAdminPannel.tbl_category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorydescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorydescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entryby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entryby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entrydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entrydate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
